body {
    --txt: #e8e8e8;
    --gry: #333436;
    --bgnd: #0b0c0e;
    --bgnd_t: #0b0c0eee;  
    --bg_img: url(00_bg_images/dot_0b0c0e.svg);
    --hdr_img: url(00_bg_images/diagonal.gif);
    
    background-color: var(--bgnd);
    font-family: Menlo, monospace;
    font-weight: 100;
    font-size: 16px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    max-width: 940px;
    min-width: 320px;
    min-height: 880px;
    margin: auto;
    
    color: var(--txt);
    padding-top: 40px;
    padding-left: 2%;
    padding-right: 2%;
}
body.light-theme {
    --txt: #0b0c0e;
    --gry: #c9c7c3;
    --bgnd: #e8e8e8;
    --bgnd_t: #e8e8e8dd;
    --bg_img: url(00_bg_images/dot_e8e8e8.svg);
    --hdr_img: url(00_bg_images/diagonal_l.gif);
}
body.light-theme img{
    filter: invert(1);
}
body.light-theme img.pic{
    filter: invert(0);
}
body.light-theme iframe{
    filter: invert(0);
}


p {
    padding: 8%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    border: 1px solid var(--txt);
    text-align: center;
}
h1 {
    padding: 8%;
    padding-top: 5px;
    font-weight: 100;
    font-size: 14px;
    text-align: left;
}
h2 {
    text-align: left;
    color: var(--bgnd);
    font-size: 36px;
    position: relative;
    width: 100%;
    max-width: 940px;
    min-width: 320px;
}
h2.line {
    background:
        /* lines */
        linear-gradient(var(--txt), var(--txt)) 0px 8px / 100% 1px,
        linear-gradient(var(--txt), var(--txt)) 0px 12px / 100% 1px,
        linear-gradient(var(--txt), var(--txt)) 0px 16px / 100% 1px,
        linear-gradient(var(--txt), var(--txt)) 0px 20px / 100% 1px,
        linear-gradient(var(--txt), var(--txt)) 0px 24px / 100% 1px,
        linear-gradient(var(--txt), var(--txt)) 0px 28px / 100% 1px,
        linear-gradient(var(--txt), var(--txt)) 0px 32px / 100% 1px;
    background-repeat: no-repeat;
    border-bottom: 1px solid var(--gry);
}
h2.anim {
    background-image: var(--hdr_img);
    background-repeat: no-repeat;
    border-top: 1px solid var(--gry);
}
h3 {
    padding-top: 200px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: var(--bgnd);
}
.btmenu {
    overflow: hidden;
    position: relative;
    bottom: 0;
    width: 100%;
    align-content: center;
}
button {
    border: none;
    text-decoration: none;
    font-size: 16px;
    cursor: cell;
    color: var(--txt);
    background-color: var(--bgnd);
}
scale {
    font-size: 16px;
}

iframe {
    filter: invert(1);
}


/* - - - - - - - - - - - - - - - - links - - - - - - - - - - - - - - - - */

a:link {
    text-decoration: none;
    color: var(--txt);
    transition: background 0.3s;
    background: linear-gradient(var(--txt), var(--txt)) 0% 0% / 100% 0%;
    background-repeat: no-repeat;
}
a:visited {
    text-decoration: none;
    color: var(--txt);
}
a:hover {
    cursor: cell;
}
a.text {
    color: var(--txt);
    transition: background 0.3s;
    background: linear-gradient(var(--txt), var(--txt)) 0% 0% / 100% 0%;
    background-repeat: no-repeat;
}
a.scale {
    color: var(--txt);
    font-size: 16px;
    transition: background 0.3s;
    background: linear-gradient(var(--txt), var(--txt)) 0% 0% / 100% 0%;
    background-repeat: no-repeat;
}
a.text:hover {
    color: var(--bgnd);
    background: linear-gradient(var(--txt), var(--txt)) 0% 0% / 100% 100%;
    background-repeat: no-repeat;
}
a.scale:hover {
    color: var(--bgnd);
    background: linear-gradient(var(--txt), var(--txt)) 0% 0% / 100% 100%;
    background-repeat: no-repeat;
}
a.current {
    color: var(--bgnd);
    background: var(--txt);
}
a.void {
    font-size: 12px;
    color: var(--bgnd);
}
a.void:hover {
    cursor: default;
}


/* - - - - - - - - - - - - - - - - vo - - - - - - - - - - - - - - - - */

node.gate {
    width: 64px;
    height: 32px;
}
node.gate .logo {
    float: right;
    height: 32px;
}
node.gate:hover .logo {
    display: none;
}
node.gate .img-top {
    display: none;
    float: right;
    height: 32px;
    z-index: 99;
}
node.gate:hover .img-top {
    display: inline;
}

node.gate .btn_theme {
    float: right;
    font-size: 32px;
    padding-right: 6%;
    color: var(--gry);
}


/* - - - - - - - - - - - - - - - - images - - - - - - - - - - - - - - - - */


img.lim {
    max-height: 250px;
}
img.right {
    float: right;
}
img.meter {
    float: right;
    padding-top: 8px;
    padding-right: 24px;
}
img.adjust {
    max-width: 360px;
    width: 100%;
    height: auto;
}
img.pic {
    max-width: 520px;
    width: 100%;
    height: auto;
    filter: invert(0);
}
img.data {
    
}

iframe.doc {
    max-width: 520px;
    width: 100%;
    height: 410px;
    filter: invert(0);
}


/* - - - - - - - - - - - - - - - - blocks - - - - - - - - - - - - - - - - */

.blocks {
    display: grid;
    grid-column-gap: 10%;
    grid-row-gap: 0px;
    grid-template-columns: repeat(4, minmax(40px, 1fr));
}
.botblocks {
    display: grid;
    grid-column-gap: 10%;
    grid-row-gap: 0px;
    grid-template-columns: repeat(4, minmax(40px, 1fr));
}
.bigblocks {
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}
block.image {
    position: relative;
    background-image: var(--bg_img);
    background-size: 50px;
    height: 250px;
    border: 1px solid var(--txt);
    text-align: center;
}
block.fixed {
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
    min-height: 230px;
    max-height: 230px;
    position: relative;
    background-image: var(--bg_img);
    background-size: 50px;
    border: 1px solid var(--txt);
    text-align: left;
}
block.line {
    padding: 8%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    border: 1px solid var(--txt);
    text-align: left;
}
block.noline {
    position: relative;
    text-align: center;
    text-decoration: none;
}


/* - - - - - - - - - - - - - - - - modal - - - - - - - - - - - - - - - - */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-image: var(--bg_img);
    background-size: 50px;
}
.modal-about {
    display: none; 
    position: relative; 
    z-index: 1; 
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.modal-content {
    text-align: center;
    background-color: var(--bgnd_t);
    margin: auto;
    padding: 20px;
    padding-bottom: 60px;
    border: 1px solid var(--txt);
    max-width: 600px;
    min-width: 310px;
    width: 60%;
}
.modal-index {
    position: fixed; 
    z-index: 1; 
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: auto;
    
}
.modal-content-btm {
    text-align: left;
    font-size: 12px;
    background-color: var(--bgnd_t);
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    padding-left: 3%;
    padding-right: 3%;
    border: 1px solid var(--txt);
    min-width: 310px;
    max-width: 600px;
    width: 70%;
    bottom: 0;
}
.btn {
    color: var(--txt);
    transition: background 0.3s;
    background: linear-gradient(var(--txt), var(--txt)) 0% 0% / 100% 0%;
    background-repeat: no-repeat;
}
.btn:hover {
    color: var(--bgnd);
    background: linear-gradient(var(--txt), var(--txt)) 0% 0% / 100% 100%;
    background-repeat: no-repeat;
}
.close {
    float: right;
    color: var(--txt);
    transition: background 0.3s;
    background: linear-gradient(var(--txt), var(--txt)) 0% 0% / 100% 0%;
    background-repeat: no-repeat;
}
.close:hover {
    color: var(--bgnd);
    background: linear-gradient(var(--txt), var(--txt)) 0% 0% / 100% 100%;
    background-repeat: no-repeat;
}


/* - - - - - - - - - - - - - - - - lines wide - - - - - - - - - - - - - - - - */

.select {
    background:
        /* snid lines */
        linear-gradient(var(--gry), var(--gry)) 6.8% 17px / 1px 35px,
        linear-gradient(var(--gry), var(--gry)) 1.6% 52px / 5.4% 1px,
        linear-gradient(var(--gry), var(--gry)) 1.4% 52px / 1px 25px,
        linear-gradient(var(--gry), var(--gry)) 1% 71px / 9px 5px,
        
        linear-gradient(var(--gry), var(--gry)) 8% 17px / 1px 70px,
        linear-gradient(var(--gry), var(--gry)) 1.6% 87px / 6.6% 1px,
        linear-gradient(var(--gry), var(--gry)) 1.4% 87px / 1px 280px,
        linear-gradient(var(--gry), var(--gry)) 1% 363px / 9px 5px,
        
        linear-gradient(var(--gry), var(--gry)) 9.4% 17px / 1px 35px,
        linear-gradient(var(--gry), var(--gry)) 16.9% 52px / 44.6% 1px,
        linear-gradient(var(--gry), var(--gry)) 54% 52px / 1px 25px,
        linear-gradient(var(--gry), var(--gry)) 54% 71px / 9px 5px,
        
        linear-gradient(var(--gry), var(--gry)) 10.7% 17px / 1px 70px,
        linear-gradient(var(--gry), var(--gry)) 18.8% 87px / 43.4% 1px,
        linear-gradient(var(--gry), var(--gry)) 54% 87px / 1px 280px,
        linear-gradient(var(--gry), var(--gry)) 54% 363px / 9px 5px,
        
        /* varirack lines */
        linear-gradient(var(--gry), var(--gry)) 32.2% 17px / 1px 25px,
        linear-gradient(var(--gry), var(--gry)) 4.9% 42px / 28.7% 1px,
        linear-gradient(var(--gry), var(--gry)) 3.4% 42px / 1px 35px,
        linear-gradient(var(--gry), var(--gry)) 3% 71px / 9px 5px,
        
        linear-gradient(var(--gry), var(--gry)) 34.9% 17px / 1px 80px,
        linear-gradient(var(--gry), var(--gry)) 5.15% 97px / 31.45% 1px,
        linear-gradient(var(--gry), var(--gry)) 3.4% 97px / 1px 270px,
        linear-gradient(var(--gry), var(--gry)) 3% 363px / 9px 5px,
        
        linear-gradient(var(--gry), var(--gry)) 37.6% 17px / 1px 25px,
        linear-gradient(var(--gry), var(--gry)) 46.05% 42px / 18.4% 1px,
        linear-gradient(var(--gry), var(--gry)) 56% 42px / 1px 35px,
        linear-gradient(var(--gry), var(--gry)) 56% 71px / 9px 5px,
        
        linear-gradient(var(--gry), var(--gry)) 40.3% 17px / 1px 110px,
        linear-gradient(var(--gry), var(--gry)) 47.8% 127px / 15.8% 1px,
        linear-gradient(var(--gry), var(--gry)) 56% 127px / 1px 240px,
        linear-gradient(var(--gry), var(--gry)) 56% 363px / 9px 5px,
        
        /* eve lines */
        linear-gradient(var(--gry), var(--gry)) 62.25% 17px / 1px 15px,
        linear-gradient(var(--gry), var(--gry)) 12.6% 32px / 56.8% 1px,
        linear-gradient(var(--gry), var(--gry)) 5.4% 32px / 1px 45px,
        linear-gradient(var(--gry), var(--gry)) 5% 71px / 9px 5px,
        
        linear-gradient(var(--gry), var(--gry)) 63.25% 17px / 1px 90px,
        linear-gradient(var(--gry), var(--gry)) 12.8% 107px / 57.8% 1px,
        linear-gradient(var(--gry), var(--gry)) 5.4% 107px / 1px 260px,
        linear-gradient(var(--gry), var(--gry)) 5% 363px / 9px 5px,
        
        linear-gradient(var(--gry), var(--gry)) 64.25% 17px / 1px 25px,
        linear-gradient(var(--gry), var(--gry)) 61.9% 42px / 6.3% 1px,
        linear-gradient(var(--gry), var(--gry)) 57.9% 42px / 1px 35px,
        linear-gradient(var(--gry), var(--gry)) 58% 71px / 9px 5px,
        
        linear-gradient(var(--gry), var(--gry)) 65.25% 17px / 1px 25px,
        linear-gradient(var(--gry), var(--gry)) 93.6% 42px / 30.3% 1px,
        linear-gradient(var(--gry), var(--gry)) 95.6% 42px / 1px 312px,
        linear-gradient(var(--gry), var(--gry)) 92.9% 353px / 37.5% 1px,
        linear-gradient(var(--gry), var(--gry)) 58% 353px / 1px 15px,
        linear-gradient(var(--gry), var(--gry)) 58% 363px / 9px 5px,

        /* visual lines */
        linear-gradient(var(--gry), var(--gry)) 88.3% 17px / 1px 45px,
        linear-gradient(var(--gry), var(--gry)) 38.95% 62px / 80.85% 1px,
        linear-gradient(var(--gry), var(--gry)) 7.4% 62px / 1px 15px,
        linear-gradient(var(--gry), var(--gry)) 7% 71px / 9px 5px,
        
        linear-gradient(var(--gry), var(--gry)) 90.23% 17px / 1px 100px,
        linear-gradient(var(--gry), var(--gry)) 42.9% 117px / 82.75% 1px,
        linear-gradient(var(--gry), var(--gry)) 7.4% 117px / 1px 250px,
        linear-gradient(var(--gry), var(--gry)) 7% 363px / 9px 5px,
        
        linear-gradient(var(--gry), var(--gry)) 92.27% 17px / 1px 35px,
        linear-gradient(var(--gry), var(--gry)) 88.6% 52px / 32.3% 1px,
        linear-gradient(var(--gry), var(--gry)) 60% 52px / 1px 25px,
        linear-gradient(var(--gry), var(--gry)) 60% 71px / 9px 5px,
        
        linear-gradient(var(--gry), var(--gry)) 94.3% 17px / 1px 45px,
        linear-gradient(var(--gry), var(--gry)) 97.4% 62px / 3.3% 1px,
        linear-gradient(var(--gry), var(--gry)) 97.6% 62px / 1px 282px,
        linear-gradient(var(--gry), var(--gry)) 96% 343px / 37.5% 1px,
        linear-gradient(var(--gry), var(--gry)) 60% 343px / 1px 25px,
        linear-gradient(var(--gry), var(--gry)) 60% 363px / 9px 5px;
        
    background-repeat: no-repeat;
    max-width: 940px;
    min-width: 320px;
    min-height: 680px;
    padding-bottom: 40px; 
} 

.select .main {
    background:
        /* snid lines */
        linear-gradient(var(--txt), var(--txt)) 6.8% 17px / 1px 35px,
        linear-gradient(var(--txt), var(--txt)) 1.6% 52px / 5.4% 1px,
        linear-gradient(var(--txt), var(--txt)) 1.4% 52px / 1px 25px,
        linear-gradient(var(--txt), var(--txt)) 1% 71px / 9px 5px,
        
        /* varirack lines */
        linear-gradient(var(--txt), var(--txt)) 34.9% 17px / 1px 80px,
        linear-gradient(var(--txt), var(--txt)) 5.15% 97px / 31.45% 1px,
        linear-gradient(var(--txt), var(--txt)) 3.4% 97px / 1px 270px,
        linear-gradient(var(--txt), var(--txt)) 3% 363px / 9px 5px,
        
        /* eve lines */
        linear-gradient(var(--txt), var(--txt)) 64.25% 17px / 1px 25px,
        linear-gradient(var(--txt), var(--txt)) 61.9% 42px / 6.3% 1px,
        linear-gradient(var(--txt), var(--txt)) 57.9% 42px / 1px 35px,
        linear-gradient(var(--txt), var(--txt)) 58% 71px / 9px 5px,
        
        /* visual lines */
        linear-gradient(var(--txt), var(--txt)) 94.3% 17px / 1px 45px,
        linear-gradient(var(--txt), var(--txt)) 97.4% 62px / 3.3% 1px,
        linear-gradient(var(--txt), var(--txt)) 97.6% 62px / 1px 282px,
        linear-gradient(var(--txt), var(--txt)) 96% 343px / 37.5% 1px,
        linear-gradient(var(--txt), var(--txt)) 60% 343px / 1px 25px,
        linear-gradient(var(--txt), var(--txt)) 60% 363px / 9px 5px;
    
    background-repeat: no-repeat;
}
.select .snid {
    background:
        /* snid lines */
        linear-gradient(var(--txt), var(--txt)) 6.8% 17px / 1px 35px,
        linear-gradient(var(--txt), var(--txt)) 1.6% 52px / 5.4% 1px,
        linear-gradient(var(--txt), var(--txt)) 1.4% 52px / 1px 25px,
        linear-gradient(var(--txt), var(--txt)) 1% 71px / 9px 5px,
        
        linear-gradient(var(--txt), var(--txt)) 8% 17px / 1px 70px,
        linear-gradient(var(--txt), var(--txt)) 1.6% 87px / 6.6% 1px,
        linear-gradient(var(--txt), var(--txt)) 1.4% 87px / 1px 280px,
        linear-gradient(var(--txt), var(--txt)) 1% 363px / 9px 5px,
        
        linear-gradient(var(--txt), var(--txt)) 9.4% 17px / 1px 35px,
        linear-gradient(var(--txt), var(--txt)) 16.9% 52px / 44.6% 1px,
        linear-gradient(var(--txt), var(--txt)) 54% 52px / 1px 25px,
        linear-gradient(var(--txt), var(--txt)) 54% 71px / 9px 5px,
        
        linear-gradient(var(--txt), var(--txt)) 10.7% 17px / 1px 70px,
        linear-gradient(var(--txt), var(--txt)) 18.8% 87px / 43.4% 1px,
        linear-gradient(var(--txt), var(--txt)) 54% 87px / 1px 280px,
        linear-gradient(var(--txt), var(--txt)) 54% 363px / 9px 5px;

    background-repeat: no-repeat;
}
.select .varirack {
    background:
        /* varirack lines */
        linear-gradient(var(--txt), var(--txt)) 32.2% 17px / 1px 25px,
        linear-gradient(var(--txt), var(--txt)) 4.9% 42px / 28.7% 1px,
        linear-gradient(var(--txt), var(--txt)) 3.4% 42px / 1px 35px,
        linear-gradient(var(--txt), var(--txt)) 3% 71px / 9px 5px,
        
        linear-gradient(var(--txt), var(--txt)) 34.9% 17px / 1px 80px,
        linear-gradient(var(--txt), var(--txt)) 5.15% 97px / 31.45% 1px,
        linear-gradient(var(--txt), var(--txt)) 3.4% 97px / 1px 270px,
        linear-gradient(var(--txt), var(--txt)) 3% 363px / 9px 5px,
        
        linear-gradient(var(--txt), var(--txt)) 37.6% 17px / 1px 25px,
        linear-gradient(var(--txt), var(--txt)) 46.05% 42px / 18.4% 1px,
        linear-gradient(var(--txt), var(--txt)) 56% 42px / 1px 35px,
        linear-gradient(var(--txt), var(--txt)) 56% 71px / 9px 5px,
        
        linear-gradient(var(--txt), var(--txt)) 40.3% 17px / 1px 110px,
        linear-gradient(var(--txt), var(--txt)) 47.8% 127px / 15.8% 1px,
        linear-gradient(var(--txt), var(--txt)) 56% 127px / 1px 240px,
        linear-gradient(var(--txt), var(--txt)) 56% 363px / 9px 5px;
        
    background-repeat: no-repeat;
}
.select .eve {
    background:
        /* eve lines */
        linear-gradient(var(--txt), var(--txt)) 62.25% 17px / 1px 15px,
        linear-gradient(var(--txt), var(--txt)) 12.6% 32px / 56.8% 1px,
        linear-gradient(var(--txt), var(--txt)) 5.4% 32px / 1px 45px,
        linear-gradient(var(--txt), var(--txt)) 5% 71px / 9px 5px,
        
        linear-gradient(var(--txt), var(--txt)) 63.25% 17px / 1px 90px,
        linear-gradient(var(--txt), var(--txt)) 12.8% 107px / 57.8% 1px,
        linear-gradient(var(--txt), var(--txt)) 5.4% 107px / 1px 260px,
        linear-gradient(var(--txt), var(--txt)) 5% 363px / 9px 5px,
        
        linear-gradient(var(--txt), var(--txt)) 64.25% 17px / 1px 25px,
        linear-gradient(var(--txt), var(--txt)) 61.9% 42px / 6.3% 1px,
        linear-gradient(var(--txt), var(--txt)) 57.9% 42px / 1px 35px,
        linear-gradient(var(--txt), var(--txt)) 58% 71px / 9px 5px,
        
        linear-gradient(var(--txt), var(--txt)) 65.25% 17px / 1px 25px,
        linear-gradient(var(--txt), var(--txt)) 93.6% 42px / 30.3% 1px,
        linear-gradient(var(--txt), var(--txt)) 95.6% 42px / 1px 312px,
        linear-gradient(var(--txt), var(--txt)) 92.9% 353px / 37.5% 1px,
        linear-gradient(var(--txt), var(--txt)) 58% 353px / 1px 15px,
        linear-gradient(var(--txt), var(--txt)) 58% 363px / 9px 5px;
        
    background-repeat: no-repeat;
}
.select .visual {
    background:
        /* visual lines */
        linear-gradient(var(--txt), var(--txt)) 88.3% 17px / 1px 45px,
        linear-gradient(var(--txt), var(--txt)) 38.95% 62px / 80.85% 1px,
        linear-gradient(var(--txt), var(--txt)) 7.4% 62px / 1px 15px,
        linear-gradient(var(--txt), var(--txt)) 7% 71px / 9px 5px,
        
        linear-gradient(var(--txt), var(--txt)) 90.23% 17px / 1px 100px,
        linear-gradient(var(--txt), var(--txt)) 42.9% 117px / 82.75% 1px,
        linear-gradient(var(--txt), var(--txt)) 7.4% 117px / 1px 250px,
        linear-gradient(var(--txt), var(--txt)) 7% 363px / 9px 5px,
        
        linear-gradient(var(--txt), var(--txt)) 92.27% 17px / 1px 35px,
        linear-gradient(var(--txt), var(--txt)) 88.6% 52px / 32.3% 1px,
        linear-gradient(var(--txt), var(--txt)) 60% 52px / 1px 25px,
        linear-gradient(var(--txt), var(--txt)) 60% 71px / 9px 5px,
        
        linear-gradient(var(--txt), var(--txt)) 94.3% 17px / 1px 45px,
        linear-gradient(var(--txt), var(--txt)) 97.4% 62px / 3.3% 1px,
        linear-gradient(var(--txt), var(--txt)) 97.6% 62px / 1px 282px,
        linear-gradient(var(--txt), var(--txt)) 96% 343px / 37.5% 1px,
        linear-gradient(var(--txt), var(--txt)) 60% 343px / 1px 25px,
        linear-gradient(var(--txt), var(--txt)) 60% 363px / 9px 5px;
        
    background-repeat: no-repeat;
}


/* - - - - - - - - - - - - - - - - lines narrow - - - - - - - - - - - - - - - - */

@media (max-width: 631px) { /* sinlge column */
    .select {
        background:
            /* snid lines */
            linear-gradient(var(--gry), var(--gry)) 5.1% 17px / 1px 29px,
            linear-gradient(var(--gry), var(--gry)) 2.2% 46px / 3.15% 1px,
            linear-gradient(var(--gry), var(--gry)) 2% 46px / 1px 25px,
            linear-gradient(var(--gry), var(--gry)) 1% 71px / 9px 5px,
            
            linear-gradient(var(--gry), var(--gry)) 7.4% 17px / 1px 70px,
            linear-gradient(var(--gry), var(--gry)) 2.1% 87px / 5.6% 1px,
            linear-gradient(var(--gry), var(--gry)) 2% 87px / 1px 280px,
            linear-gradient(var(--gry), var(--gry)) 1% 363px / 9px 5px,
            
            linear-gradient(var(--gry), var(--gry)) 9.7% 17px / 1px 39px,
            linear-gradient(var(--gry), var(--gry)) 6.35% 56px / 3.78% 1px,
            linear-gradient(var(--gry), var(--gry)) 6% 56px / 1px 324px,
            linear-gradient(var(--gry), var(--gry)) 2.2% 380px / 4% 1px,
            linear-gradient(var(--gry), var(--gry)) 2% 380px / 1px 280px,
            linear-gradient(var(--gry), var(--gry)) 1% 655px / 9px 5px,
            
            linear-gradient(var(--gry), var(--gry)) 12% 17px / 1px 373px,
            linear-gradient(var(--gry), var(--gry)) 6.5% 390px / 6% 1px,
            linear-gradient(var(--gry), var(--gry)) 6% 390px / 1px 280px,
            linear-gradient(var(--gry), var(--gry)) 2.2% 670px / 4% 1px,
            linear-gradient(var(--gry), var(--gry)) 2% 670px / 1px 280px,
            linear-gradient(var(--gry), var(--gry)) 1% 947px / 9px 5px,
            
            /* varirack lines */
            linear-gradient(var(--gry), var(--gry)) 32.2% 17px / 1px 39px,
            linear-gradient(var(--gry), var(--gry)) 18.8% 56px / 16.6% 1px,
            linear-gradient(var(--gry), var(--gry)) 15.6% 56px / 1px 15px,
            linear-gradient(var(--gry), var(--gry)) 15% 71px / 9px 5px,
            
            linear-gradient(var(--gry), var(--gry)) 34.9% 17px / 1px 90px,
            linear-gradient(var(--gry), var(--gry)) 11% 107px / 26.9% 1px,
            linear-gradient(var(--gry), var(--gry)) 8% 107px / 1px 242px,
            linear-gradient(var(--gry), var(--gry)) 8.6% 348px / 7.6% 1px,
            linear-gradient(var(--gry), var(--gry)) 15.6% 348px / 1px 15px,
            linear-gradient(var(--gry), var(--gry)) 15% 363px / 9px 5px,
            
            linear-gradient(var(--gry), var(--gry)) 37.6% 17px / 1px 80px,
            linear-gradient(var(--gry), var(--gry)) 6.2% 97px / 33.6% 1px,
            linear-gradient(var(--gry), var(--gry)) 4% 97px / 1px 544px,
            linear-gradient(var(--gry), var(--gry)) 4.6% 640px / 11.6% 1px,
            linear-gradient(var(--gry), var(--gry)) 15.6% 640px / 1px 15px,
            linear-gradient(var(--gry), var(--gry)) 15% 655px / 9px 5px,
            
            linear-gradient(var(--gry), var(--gry)) 40.3% 17px / 1px 70px,
            linear-gradient(var(--gry), var(--gry)) 14.4% 87px / 30.3% 1px,
            linear-gradient(var(--gry), var(--gry)) 10% 87px / 1px 845px,
            linear-gradient(var(--gry), var(--gry)) 10.6% 932px / 5.6% 1px,
            linear-gradient(var(--gry), var(--gry)) 15.6% 932px / 1px 15px,
            linear-gradient(var(--gry), var(--gry)) 15% 947px / 9px 5px,
            
            /* eve lines */
            linear-gradient(var(--gry), var(--gry)) 61.25% 17px / 1px 29px,
            linear-gradient(var(--gry), var(--gry)) 43.2% 46px / 31.9% 1px,
            linear-gradient(var(--gry), var(--gry)) 29.4% 46px / 1px 25px,
            linear-gradient(var(--gry), var(--gry)) 29% 71px / 9px 5px,
            
            linear-gradient(var(--gry), var(--gry)) 62.9% 17px / 1px 80px,
            linear-gradient(var(--gry), var(--gry)) 83.9% 97px / 25.1% 1px,
            linear-gradient(var(--gry), var(--gry)) 88% 97px / 1px 252px,
            linear-gradient(var(--gry), var(--gry)) 70.7% 348px / 58.5% 1px,
            linear-gradient(var(--gry), var(--gry)) 29.4% 348px / 1px 15px,
            linear-gradient(var(--gry), var(--gry)) 29% 363px / 9px 5px,
            
            linear-gradient(var(--gry), var(--gry)) 64.6% 17px / 1px 70px,
            linear-gradient(var(--gry), var(--gry)) 91.4% 87px / 29.4% 1px,
            linear-gradient(var(--gry), var(--gry)) 94% 87px / 1px 554px,
            linear-gradient(var(--gry), var(--gry)) 82.7% 640px / 64.5% 1px,
            linear-gradient(var(--gry), var(--gry)) 29.4% 640px / 1px 15px,
            linear-gradient(var(--gry), var(--gry)) 29% 655px / 9px 5px,
            
            linear-gradient(var(--gry), var(--gry)) 66.25% 17px / 1px 29px,
            linear-gradient(var(--gry), var(--gry)) 94.2% 46px / 29.8% 1px,
            linear-gradient(var(--gry), var(--gry)) 96% 46px / 1px 886px,
            linear-gradient(var(--gry), var(--gry)) 87.5% 932px / 66.5% 1px,
            linear-gradient(var(--gry), var(--gry)) 29.4% 932px / 1px 15px,
            linear-gradient(var(--gry), var(--gry)) 29% 947px / 9px 5px,
            
            /* visual lines */
            linear-gradient(var(--gry), var(--gry)) 88.3% 17px / 1px 39px,
            linear-gradient(var(--gry), var(--gry)) 78.73% 56px / 45.1% 1px,
            linear-gradient(var(--gry), var(--gry)) 43.3% 56px / 1px 15px,
            linear-gradient(var(--gry), var(--gry)) 43% 71px / 9px 5px,
            
            linear-gradient(var(--gry), var(--gry)) 90.23% 17px / 1px 322px,
            linear-gradient(var(--gry), var(--gry)) 81.3% 338px / 46.8% 1px,
            linear-gradient(var(--gry), var(--gry)) 43.3% 338px / 1px 25px,
            linear-gradient(var(--gry), var(--gry)) 43% 363px / 9px 5px,
            
            linear-gradient(var(--gry), var(--gry)) 92.27% 17px / 1px 614px,
            linear-gradient(var(--gry), var(--gry)) 84.9% 630px / 49% 1px,
            linear-gradient(var(--gry), var(--gry)) 43.3% 630px / 1px 25px,
            linear-gradient(var(--gry), var(--gry)) 43% 655px / 9px 5px,
            
            linear-gradient(var(--gry), var(--gry)) 94.3% 17px / 1px 39px,
            linear-gradient(var(--gry), var(--gry)) 97.9% 56px / 3.8% 1px,
            linear-gradient(var(--gry), var(--gry)) 98% 56px / 1px 866px,
            linear-gradient(var(--gry), var(--gry)) 95.6% 922px / 54.8% 1px,
            linear-gradient(var(--gry), var(--gry)) 43.3% 922px / 1px 25px,
            linear-gradient(var(--gry), var(--gry)) 43% 947px / 9px 5px;
        background-repeat: no-repeat;
        max-width: 940px;
        min-width: 320px;
        min-height: 680px;
        padding-bottom: 40px; 
    }
    .select .main {
        background:
            /* snid lines */
            linear-gradient(var(--txt), var(--txt)) 5.1% 17px / 1px 29px,
            linear-gradient(var(--txt), var(--txt)) 2.2% 46px / 3.15% 1px,
            linear-gradient(var(--txt), var(--txt)) 2% 46px / 1px 25px,
            linear-gradient(var(--txt), var(--txt)) 1% 71px / 9px 5px,
            
            /* varirack lines */
            linear-gradient(var(--txt), var(--txt)) 37.6% 17px / 1px 80px,
            linear-gradient(var(--txt), var(--txt)) 6.2% 97px / 33.6% 1px,
            linear-gradient(var(--txt), var(--txt)) 4% 97px / 1px 544px,
            linear-gradient(var(--txt), var(--txt)) 4.6% 640px / 11.6% 1px,
            linear-gradient(var(--txt), var(--txt)) 15.6% 640px / 1px 15px,
            linear-gradient(var(--txt), var(--txt)) 15% 655px / 9px 5px,
            
            /* eve lines */            
            linear-gradient(var(--txt), var(--txt)) 62.9% 17px / 1px 80px,
            linear-gradient(var(--txt), var(--txt)) 83.9% 97px / 25.1% 1px,
            linear-gradient(var(--txt), var(--txt)) 88% 97px / 1px 252px,
            linear-gradient(var(--txt), var(--txt)) 70.7% 348px / 58.5% 1px,
            linear-gradient(var(--txt), var(--txt)) 29.4% 348px / 1px 15px,
            linear-gradient(var(--txt), var(--txt)) 29% 363px / 9px 5px,
            
            /* visual lines */
            linear-gradient(var(--txt), var(--txt)) 94.3% 17px / 1px 39px,
            linear-gradient(var(--txt), var(--txt)) 97.9% 56px / 3.8% 1px,
            linear-gradient(var(--txt), var(--txt)) 98% 56px / 1px 866px,
            linear-gradient(var(--txt), var(--txt)) 95.6% 922px / 54.8% 1px,
            linear-gradient(var(--txt), var(--txt)) 43.3% 922px / 1px 25px,
            linear-gradient(var(--txt), var(--txt)) 43% 947px / 9px 5px;
        background-repeat: no-repeat;
    } 
    .select .snid {
        background:
            /* snid lines */
            linear-gradient(var(--txt), var(--txt)) 5.1% 17px / 1px 29px,
            linear-gradient(var(--txt), var(--txt)) 2.2% 46px / 3.15% 1px,
            linear-gradient(var(--txt), var(--txt)) 2% 46px / 1px 25px,
            linear-gradient(var(--txt), var(--txt)) 1% 71px / 9px 5px,

            linear-gradient(var(--txt), var(--txt)) 7.4% 17px / 1px 70px,
            linear-gradient(var(--txt), var(--txt)) 2.1% 87px / 5.6% 1px,
            linear-gradient(var(--txt), var(--txt)) 2% 87px / 1px 280px,
            linear-gradient(var(--txt), var(--txt)) 1% 363px / 9px 5px,
            
            linear-gradient(var(--txt), var(--txt)) 9.7% 17px / 1px 39px,
            linear-gradient(var(--txt), var(--txt)) 6.35% 56px / 3.78% 1px,
            linear-gradient(var(--txt), var(--txt)) 6% 56px / 1px 324px,
            linear-gradient(var(--txt), var(--txt)) 2.2% 380px / 4% 1px,
            linear-gradient(var(--txt), var(--txt)) 2% 380px / 1px 280px,
            linear-gradient(var(--txt), var(--txt)) 1% 655px / 9px 5px,
            
            linear-gradient(var(--txt), var(--txt)) 12% 17px / 1px 373px,
            linear-gradient(var(--txt), var(--txt)) 6.5% 390px / 6% 1px,
            linear-gradient(var(--txt), var(--txt)) 6% 390px / 1px 280px,
            linear-gradient(var(--txt), var(--txt)) 2.2% 670px / 4% 1px,
            linear-gradient(var(--txt), var(--txt)) 2% 670px / 1px 280px,
            linear-gradient(var(--txt), var(--txt)) 1% 947px / 9px 5px;
        background-repeat: no-repeat;
    }
    .select .varirack {
        background: 
            /* varirack lines */
            linear-gradient(var(--txt), var(--txt)) 32.2% 17px / 1px 39px,
            linear-gradient(var(--txt), var(--txt)) 18.8% 56px / 16.6% 1px,
            linear-gradient(var(--txt), var(--txt)) 15.6% 56px / 1px 15px,
            linear-gradient(var(--txt), var(--txt)) 15% 71px / 9px 5px,

            linear-gradient(var(--txt), var(--txt)) 34.9% 17px / 1px 90px,
            linear-gradient(var(--txt), var(--txt)) 11% 107px / 26.9% 1px,
            linear-gradient(var(--txt), var(--txt)) 8% 107px / 1px 242px,
            linear-gradient(var(--txt), var(--txt)) 8.6% 348px / 7.6% 1px,
            linear-gradient(var(--txt), var(--txt)) 15.6% 348px / 1px 15px,
            linear-gradient(var(--txt), var(--txt)) 15% 363px / 9px 5px,
            
            linear-gradient(var(--txt), var(--txt)) 37.6% 17px / 1px 80px,
            linear-gradient(var(--txt), var(--txt)) 6.2% 97px / 33.6% 1px,
            linear-gradient(var(--txt), var(--txt)) 4% 97px / 1px 544px,
            linear-gradient(var(--txt), var(--txt)) 4.6% 640px / 11.6% 1px,
            linear-gradient(var(--txt), var(--txt)) 15.6% 640px / 1px 15px,
            linear-gradient(var(--txt), var(--txt)) 15% 655px / 9px 5px,
            
            linear-gradient(var(--txt), var(--txt)) 40.3% 17px / 1px 70px,
            linear-gradient(var(--txt), var(--txt)) 14.4% 87px / 30.3% 1px,
            linear-gradient(var(--txt), var(--txt)) 10% 87px / 1px 845px,
            linear-gradient(var(--txt), var(--txt)) 10.6% 932px / 5.6% 1px,
            linear-gradient(var(--txt), var(--txt)) 15.6% 932px / 1px 15px,
            linear-gradient(var(--txt), var(--txt)) 15% 947px / 9px 5px;
        background-repeat: no-repeat;
    }
    .select .eve {
        background:
            /* eve lines */
            linear-gradient(var(--txt), var(--txt)) 61.25% 17px / 1px 29px,
            linear-gradient(var(--txt), var(--txt)) 43.2% 46px / 31.9% 1px,
            linear-gradient(var(--txt), var(--txt)) 29.4% 46px / 1px 25px,
            linear-gradient(var(--txt), var(--txt)) 29% 71px / 9px 5px,
            
            linear-gradient(var(--txt), var(--txt)) 62.9% 17px / 1px 80px,
            linear-gradient(var(--txt), var(--txt)) 83.9% 97px / 25.1% 1px,
            linear-gradient(var(--txt), var(--txt)) 88% 97px / 1px 252px,
            linear-gradient(var(--txt), var(--txt)) 70.7% 348px / 58.5% 1px,
            linear-gradient(var(--txt), var(--txt)) 29.4% 348px / 1px 15px,
            linear-gradient(var(--txt), var(--txt)) 29% 363px / 9px 5px,
            
            linear-gradient(var(--txt), var(--txt)) 64.6% 17px / 1px 70px,
            linear-gradient(var(--txt), var(--txt)) 91.4% 87px / 29.4% 1px,
            linear-gradient(var(--txt), var(--txt)) 94% 87px / 1px 554px,
            linear-gradient(var(--txt), var(--txt)) 82.7% 640px / 64.5% 1px,
            linear-gradient(var(--txt), var(--txt)) 29.4% 640px / 1px 15px,
            linear-gradient(var(--txt), var(--txt)) 29% 655px / 9px 5px,
            
            linear-gradient(var(--txt), var(--txt)) 66.25% 17px / 1px 29px,
            linear-gradient(var(--txt), var(--txt)) 94.2% 46px / 29.8% 1px,
            linear-gradient(var(--txt), var(--txt)) 96% 46px / 1px 886px,
            linear-gradient(var(--txt), var(--txt)) 87.5% 932px / 66.5% 1px,
            linear-gradient(var(--txt), var(--txt)) 29.4% 932px / 1px 15px,
            linear-gradient(var(--txt), var(--txt)) 29% 947px / 9px 5px;
        background-repeat: no-repeat;
    }
    .select .visual {
        background:
            /* visual lines */
            linear-gradient(var(--txt), var(--txt)) 88.3% 17px / 1px 39px,
            linear-gradient(var(--txt), var(--txt)) 78.73% 56px / 45.1% 1px,
            linear-gradient(var(--txt), var(--txt)) 43.3% 56px / 1px 15px,
            linear-gradient(var(--txt), var(--txt)) 43% 71px / 9px 5px,
    
            linear-gradient(var(--txt), var(--txt)) 90.23% 17px / 1px 322px,
            linear-gradient(var(--txt), var(--txt)) 81.3% 338px / 46.8% 1px,
            linear-gradient(var(--txt), var(--txt)) 43.3% 338px / 1px 25px,
            linear-gradient(var(--txt), var(--txt)) 43% 363px / 9px 5px,
            
            linear-gradient(var(--txt), var(--txt)) 92.27% 17px / 1px 614px,
            linear-gradient(var(--txt), var(--txt)) 84.9% 630px / 49% 1px,
            linear-gradient(var(--txt), var(--txt)) 43.3% 630px / 1px 25px,
            linear-gradient(var(--txt), var(--txt)) 43% 655px / 9px 5px,
            
            linear-gradient(var(--txt), var(--txt)) 94.3% 17px / 1px 39px,
            linear-gradient(var(--txt), var(--txt)) 97.9% 56px / 3.8% 1px,
            linear-gradient(var(--txt), var(--txt)) 98% 56px / 1px 866px,
            linear-gradient(var(--txt), var(--txt)) 95.6% 922px / 54.8% 1px,
            linear-gradient(var(--txt), var(--txt)) 43.3% 922px / 1px 25px,
            linear-gradient(var(--txt), var(--txt)) 43% 947px / 9px 5px;
        background-repeat: no-repeat;
    }
}

@media (max-width: 791px) { /* sinlge column */
    body {
        padding-top: 20px;
    }

    .bigblocks {
        display: grid;
        grid-column-gap: 1%;
        grid-row-gap: 40px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    block.fixed {
        font-size: 14px;
    }
}

@media (max-width: 430px) { /* sinlge column */
    a.scale {
        font-size: 13px;
    }
    block.fixed {
        font-size: 14px;
    }
    .modal {
        padding-top: 40px;
    }
    iframe.doc {
        height: 270px;
    }
}

@media (max-height: 900px) {
    .modal {
        padding-top: 50px;
    }
    img.data {
        max-height: 600px;
        width: auto;
    }
}
@media (max-height: 800px) {
    .modal {
        padding-top: 20px;
    }
    img.data {
        max-height: 500px;
    }
}

@media (max-height: 430px) {
    .modal {
        padding-top: 5px;
    }
    .modal-content {
        padding: 20px;
    }
    img.pic {
        height: 280px;
        width: auto;
    }
    img.data {
        height: 280px;
    }
    iframe.doc {
        height: 280px;
    }
}
@media (max-height: 380px) {
    img.pic {
        height: 220px;
    }
    img.data {
        height: 220px;
    }
    iframe.doc {
        height: 220px;
    }
}

@media (prefers-color-scheme: light) {
    
    body {
        --txt: #0b0c0e;
        --gry: #c9c7c3;
        --bgnd: #e8e8e8;
        --bgnd_t: #e8e8e8dd;
        --bg_img: url(00_bg_images/dot_e8e8e8.svg);
        --hdr_img: url(00_bg_images/diagonal_l.gif);
    }
    body img{
        filter: invert(1);
    }
    body img.pic{
        filter: invert(0);
    }

    body.dark-theme {
        --txt: #e8e8e8;
        --gry: #333436;
        --bgnd: #0b0c0e;
        --bgnd_t: #0b0c0eee;  
        --bg_img: url(00_bg_images/dot_0b0c0e.svg);
        --hdr_img: url(00_bg_images/diagonal.gif);
    }
    body.dark-theme img {
        filter: invert(0);
    }  
    body.dark-theme iframe {
    filter: invert(1);
}
}


